  .personImg {
      width: 15%;

      border-radius: 1rem;
      box-shadow: 5px -2px 8px rgba(231, 229, 229, 0.568);
      margin-right: 1rem;
  }

  p {
      color: white;
  }

  .personTop {
      margin: 2rem 1rem 3rem 1rem;
      display: flex;

  }

  .personName {
      font-size: 1.5rem;
      font-weight: 700;
  }

  .personBio {
      font-size: .8rem;
  }


  .castinFilmInfo {
      margin-top: 1rem;
  }

  .castingFilmName {
      font-weight: 700;
      font-size: .8rem;
  }

  .castingName {
      font-size: .8rem;
  }

  .castingContainer {

      display: flex;

      flex-direction: column;
      align-items: center;

      width: 20rem;




  }

  .personCastingImg {
      width: 50%;

      border-radius: 1rem;
      box-shadow: 5px -2px 8px rgba(231, 229, 229, 0.568);
  }

  .filmography {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;



  }



  @media(max-width:775px) {
      .personImg {
          width: 35%;
          margin: 1rem;
          border-radius: 1rem;
          box-shadow: 5px -2px 8px rgba(231, 229, 229, 0.568);

      }

      .personTop {
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      p {
          color: white;
      }

      .personName {
          font-size: 1.5rem;
          font-weight: 700;
          display: flex;
          justify-content: center;
      }

      .personBio {
          font-size: .8rem;
          margin: .6rem;
      }

      .castingContainer {
          display: flex;
          flex-direction: column;
          align-items: center;

      }

      .castinFilmInfo {
          margin-top: 1rem;
      }

      .castingFilmName {
          font-weight: 700;
      }

      .castingName {
          font-size: .8rem;
      }

  }