.login {
    height: calc(100%-1rem);
    display: flex;
    justify-content: center;
    width: 100%;



}

.formLogin {

    margin-top: .5rem;
    width: 35%;
    padding: -1rem;

}

.buttonLogin {

    width: 100%;
    display: flex;
    justify-content: space-around;




}

.buttonLogin .button {
    background-color: rgb(120, 34, 3);
    border: none;
    outline: none;
    max-width: 30%;
    padding: .5rem;
    font-weight: 600;

}

.buttonGoogle {
    background-color: rgb(120, 34, 3);
    padding: .5rem;
    border: none;
    outline: none;
    font-weight: 600;

    display: flex;
    justify-content: space-around;
    max-width: 40%;

}

.google-icon {

    margin: auto 0;
}

.password {
    cursor: pointer;
}

@media(max-width:750px) {
    .formLogin {
        width: 50%;


    }
}

@media(max-width:450px) {
    .formLogin {
        width: 65%;
        font-size: .8rem;

    }
}

@media(max-width:380px) {
    .formLogin {
        width: 75%;

    }
}