.login {
    height: calc(100%-1rem);
    display: flex;
    justify-content: center;
    width: 100%;



}

.formLogin {

    margin-top: .5rem;
    width: 35%;
    padding: -1rem;

}

.buttonLogin {

    color: rgb(54, 31, 1);
    width: 100%;
    text-align: center;



}

@media(max-width:750px) {
    .formLogin {
        width: 50%;


    }
}

@media(max-width:450px) {
    .formLogin {
        width: 65%;
        font-size: .8rem;

    }
}

@media(max-width:380px) {
    .formLogin {
        width: 75%;

    }
}