.title {
    text-decoration: none;
    font-size: 3rem;
}

.navbar {
    display: flex;
    justify-content: space-between;

}

.warning {
    font-size: 1rem;
    text-decoration: none;

    font-weight: 400;

    width: 6rem;
    width: 50%;
}


.info {

    text-align: right;
    color: rgb(249, 220, 182);
    padding-right: 1rem;
}

.link {
    text-decoration: none;
    color: rgb(151, 86, 0);
    font-weight: 600;
    font-size: 1.1rem;

}



.navbar button {
    padding: .4rem;
    width: 5rem;
    margin: 1rem;
    background-image: linear-gradient(to right, #98dce4, #02343d);
    color: blanchedalmond;
    font-family: 'Mitr';
}

.current-user {
    color: white;

    font-size: 1rem;
}

span {
    color: red;
}