.sliderItem {

    margin-left: 3rem;








}

.mySwiper {
    width: 97%;

}

@media(max-width:1050px) {
    .sliderItem {

        margin-left: 6rem;





    }
}



@media(max-width:600px) {
    .sliderItem {

        margin-left: 8rem;





    }
}

@media(max-width:380px) {
    .sliderItem {

        margin-left: 7rem;





    }
}