.sliderItem {

    margin-left: 1rem;











}

.mySwiper {
    width: 100%;

}

.movieSwipper {
    width: 13rem;


}

@media(max-width:1150px) {
    .sliderItem {

        margin-left: 6rem;





    }

    .movieSwipper {
        width: 11rem;


    }
}



@media(max-width:850px) {
    .sliderItem {

        margin-left: 7rem;





    }

    .movieSwipper {
        width: 12rem;


    }
}

@media(max-width:650px) {
    .sliderItem {

        margin-left: 8rem;





    }

    .movieSwipper {
        width: 11rem;


    }
}

@media(max-width:410px) {
    .sliderItem {

        margin-left: 6rem;
        padding: 1rem;





    }

    .movieSwipper {
        width: 8.5rem;


    }

    h5 {
        font-size: 1rem;
    }
}