.commentTable {

    color: antiquewhite;



}

.tableTrailer {
    background-color: rgba(29, 26, 26, 0.97);
    margin: 2rem 0 1rem 1rem;

    text-align: left;
    border-radius: .2rem;
    width: 60%;



}



.tableTrailer p {
    font-weight: 400;
    text-align: left;

    color: antiquewhite;
}

.commentUser {
    background-color: rgb(62, 50, 50);
    border-radius: 2rem;
    padding: .6rem;

    width: 80%;
    box-shadow: 1px 1px 2px rgba(231, 229, 229, 0.568);


}


@media(max-width:680px) {
    .commentImg {
        width: 5rem;
        margin: auto;
        height: 5rem;
    }

    .commentTable {

        font-size: .7rem;


    }

    .tableTrailer {
        background-color: rgba(13, 13, 13, 0.97);
        margin: auto;
        margin-top: 2rem;

        border-radius: .2rem;
        width: 70%;



    }
}

@media(max-width:500px) {
    .commentImg {
        width: 3rem;
        margin: auto;
        height: 3rem;
    }

    .commentTable {

        font-size: .6rem;


    }

    .tableTrailer {
        background-color: rgba(13, 13, 13, 0.97);
        margin: auto;
        margin-top: 2rem;

        border-radius: .2rem;
        width: 80%;



    }
}