/* .commentImg {
    width: 7rem;
    margin: auto;
    height: 7rem;
}

.commentTable {

    color: antiquewhite;


}

.tableTrailer {
    background-color: rgba(2, 63, 93, 0.171);
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    border-radius: .2rem;
    width: 90%;



}

.tableTrailer p {
    font-weight: 600;
    text-align: center;
    margin: auto;
    color: antiquewhite;
}

.buttonGroupEdit {

    width: 30%;
    display: flex;
    justify-content: space-around;


}

.edit {
    width: 40%;
    font-size: .7rem;
    background-color: rgb(231, 92, 5);
    border: none;
    outline: none;
    color: antiquewhite;
    border-radius: .5rem;
}

.delete {
    width: 40%;
    padding: .2rem;
    font-size: .7rem;
    background-color: rgb(83, 1, 1);
    border: none;
    outline: none;
    color: antiquewhite;
    border-radius: .5rem;
}

@media(max-width:680px) {
    .commentImg {
        width: 5rem;
        margin: auto;
        height: 5rem;
    }

    .commentTable {

        font-size: .7rem;


    }
}

@media(max-width:500px) {
    .commentImg {
        width: 3rem;
        margin: auto;
        height: 3rem;
    }

    .commentTable {

        font-size: .6rem;


    }

    .edit {
        width: 45%;
        font-size: .5rem;
        border-radius: .3rem;

    }

    .delete {
        width: 45%;
        font-size: .5rem;
        border-radius: .3rem;

    }

}

@media(max-width:425px) {
    .commentImg {
        width: 2.5rem;
        margin: auto;
        height: 2.5rem;
    }

    .commentTable {

        font-size: .4rem;


    }

    .edit {

        width: 45%;
        font-size: .4rem;


    }

    .delete {
        width: 45%;
        font-size: .4rem;

    }

} */