.castingDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem auto;
    width: 50vw;

}

.cast {
    width: 20%;
    margin: .3rem;

    /* position: relative; */
    /* box-shadow: 2px 2px 2px rgba(231, 229, 229, 0.568); */
    /* overflow: hidden; */

    /* background-color: rgba(8, 8, 8, 0.422); */


}

.castinTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: underline;

}

.cast img {
    width: 100%;
}

.castInfo {
    height: 50%;
    /* background-color: rgba(0, 0, 0, 0.37); */
    /* position: absolute; */

    font-size: 70%;
    color: rgb(247, 215, 173);
    /* transform: translateY(100%); */
    letter-spacing: .1rem;
    /* transition: transform .7s ease-in-out; */
    font-weight: 700;
    cursor: pointer;
}




@media(max-width:650px) {
    .castingDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem auto;
        width: 60vw;

    }

    .cast {
        width: 30%;
        margin-right: .4rem;



    }

    .cast img {
        width: 100%;
    }

    .castInfo {



        font-size: 60%;
        color: rgb(247, 215, 173);

        letter-spacing: .1rem;

        font-weight: 700;
    }
}