.comment {

    margin: auto;
    background-color: rgba(8, 8, 8, 0.422);
    width: 100%;
}

.submitButton {
    width: 10%;
    margin: auto 0 2rem 65%;
    background-color: brown;
    border: none;
    outline: none;
}

.commandTitle {
    width: 100%;
    text-align: center;
    color: #f4ead0;
    font-size: 1.2rem;
    font-weight: 600;
}

.textField {
    width: 50%;
    border: none;
    outline: none;
    box-shadow: inset 1px 2px 3px rgba(7, 7, 7, 0.9);
    color: rgb(2, 28, 51);
    background-color: #f4ead0;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem auto;

}

@media(max-width:650px) {
    .submitButton {
        width: 20%;
        margin: 1rem 40%;
        background-color: brown;
        border: none;
        outline: none;
    }

}