.comment {

    margin: auto;
    background-color: rgba(8, 8, 8, 0.422);
}

.submitButton {
    width: 40%;
    margin: auto 30%;
    background-color: brown;
    border: none;
    outline: none;
}

.commandTitle {
    width: 100%;
    text-align: center;
    color: #f4ead0;
    font-size: 1.2rem;
    font-weight: 600;
}

.textField {
    width: 60%;
    border: none;
    outline: none;
    box-shadow: inset 1px 2px 3px rgba(7, 7, 7, 0.9);
    color: rgb(2, 28, 51);
    background-color: #f4ead0;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem auto;

}