.corusselContainer {
    width: 100%;
}

.slider img {
    height: 30rem;
    border-radius: 1.2rem;
    width: 100%;
    align-items: center;

}

.divImage {
    height: 30rem;

    width: 100%;
    align-items: center;
    opacity: .8;

}



.filmTitle {
    font-size: 2rem;
    color: antiquewhite;
    font-weight: 700;
    letter-spacing: .1rem;
    text-shadow: 1px 1px #9f9d9d;
    opacity: 1;

}

.filmOverview {
    font-size: 1rem;
    color: antiquewhite;
    font-weight: 500;


    width: 50%;



}

@media(max-width:750px) {
    .slider img {
        height: 14rem;

    }

    .filmTitle {
        font-size: 1.5rem;
    }
}

@media(max-width:550px) {
    .slider img {
        height: 11rem;

    }

    .filmTitle {
        font-size: 1rem;
    }
}

@media(max-width:450px) {
    .slider img {
        height: 9rem;

    }

    .title {
        font-size: .8rem;
    }
}