.corusselContainer {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}

.slider img {
    height: 30rem;
    border-radius: 1.2rem;
    width: 100%;
    align-items: center;

}

.divImage {
    height: 25rem;

    width: 100%;
    align-items: center;
    opacity: .9;

}



.filmTitle {
    font-size: 2rem;
    color: rgb(252, 251, 249);
    font-weight: 700;
    letter-spacing: .1rem;
    text-shadow: 2px 2px black;
    opacity: 1;

}

.filmOverview {
    font-size: 1rem;
    color: rgb(252, 252, 252);
    font-weight: 500;
    text-shadow: 2px 2px black;


    width: 50%;



}

@media(max-width:850px) {
    .divImage {
        height: 20rem;

    }

    .filmTitle {
        font-size: 1rem;
    }

    .filmOverview {
        font-size: .8rem;
    }
}

@media(max-width:550px) {
    .divImage {
        height: 17rem;

    }

    .filmTitle {
        font-size: .8rem;
    }

    .filmOverview {
        font-size: .7rem;
    }
}

@media(max-width:450px) {
    .slider img {
        height: 9rem;

    }

    .title {
        font-size: .8rem;
    }

    .corusselContainer {
        width: 95%;


    }

    .divImage {
        height: 12rem;
    }
}