.details {

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(248, 244, 242);

    font-weight: 600;



}

.backdrop {
    width: 7rem;
    height: 10rem;
    /* box-shadow: 2px -2px 2px rgba(231, 229, 229, 0.568); */
    border-radius: 1rem;
}

.castTitle {
    font-size: 1.5rem;
    color: rgb(248, 242, 240);
    font-weight: 700;
    text-align: center;

}

.trailer-head {

    background-color: rgba(0, 0, 0, 0.39);


    margin: 1rem auto;
}


.trailer-parag-div {

    display: flex;

    text-align: center;

    color: rgb(248, 242, 240);

    font-size: 1rem;


    font-weight: 600;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.42);

}

.castingDiv {
    display: flex;

}

.overviewDiv {
    width: 55%;
}

.trailer-parag {
    font-size: 1rem;

}


.trailer {

    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.42);
    padding: 1rem;




}

.trailerTitle {
    font-size: 2rem;
    color: rgb(248, 242, 240);
    font-weight: 700;

}

iframe {
    width: 60%;
    height: 20rem;
    box-shadow: 2px 3px 2px rgba(231, 229, 229, 0.568);
}



@media(max-width:700px) {
    iframe {
        width: 70%;
        height: 13rem;
    }

    .details {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 2rem;


    }

    .trailer-parag {


        margin: 0 .2rem 4rem .2rem;
        font-size: 1rem;
    }
}

@media(max-width:550px) {
    .details {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 2rem;


    }

    iframe {
        width: 90%;
        height: 13rem;
    }

    .backdrop {
        width: 5.2rem;
        height: 7.6rem;
        box-shadow: 5px -2px 8px rgba(231, 229, 229, 0.568);
        border-radius: 1rem;
    }

    .trailer-parag {


        margin: 0 .2rem 4rem .2rem;
        font-size: .8rem;
    }
}



@media(max-width:400px) {
    .details {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 2rem;


    }

    iframe {
        width: 90%;
        height: 12rem;
        margin-top: 3rem;

    }

    .trailer-parag {


        margin: 0 .2rem 1rem .2rem;

        font-size: .8rem;
    }


}