.details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to right, #98dce4, #02343d);

}

.backdrop {
    width: 7rem;
    height: 10rem;
    box-shadow: 5px -2px 8px rgba(231, 229, 229, 0.568);
    border-radius: 1rem;
}

.trailer-overview {
    display: flex;
    justify-content: space-evenly;
    padding: .6rem;

}

.trailer-head {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}


.trailer-parag-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: .3rem;
    font-size: 1rem;

}

.trailer-parag {


    margin: 0 .3rem 3rem .3rem;
    font-size: 1.3rem;
}


.trailer {

    width: 100%;
    text-align: center;



}

iframe {
    width: 60%;
    height: 17rem;
}

@media(max-width:650px) {
    iframe {
        width: 70%;
        height: 13rem;
    }

    .details {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 2rem;


    }

    .trailer-parag {


        margin: 0 .2rem 4rem .2rem;
        font-size: 1rem;
    }
}

@media(max-width:500px) {
    .details {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 2rem;


    }

    iframe {
        width: 75%;
        height: 11rem;
    }

    .backdrop {
        width: 5.2rem;
        height: 7.6rem;
        box-shadow: 5px -2px 8px rgba(231, 229, 229, 0.568);
        border-radius: 1rem;
    }

    .trailer-parag {


        margin: 0 .2rem 4rem .2rem;
        font-size: .8rem;
    }
}



@media(max-width:400px) {
    .details {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 2rem;


    }

    iframe {
        width: 80%;
        height: 9rem;
        margin-top: 3rem;

    }

    .trailer-parag {


        margin: 0 .2rem 1rem .2rem;

        font-size: .8rem;
    }


}